<header class="sticky-menu header-tagliatella" data-sticky-menu>

</header>



<!-- Menú lateral mobile -->

<div class="nav--mobile hidden-lg-up">

  <div class="nav--mobile__close">
    <a class="nav--mobile__btn">
      <svg class="icon icon-normal">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../icons/sprite/sprite.svg#icon--mclose"></use>
      </svg>
    </a>

  </div>
  <nav class="nav--mobile__nav">
    <ul class="nav--mobile__itemlist">
      <li class="nav--mobile__item u-b-b"><a href="#">Buscador y reservas</a></li>

      <li class="nav--mobile__item u-b-b">
        <a class="dropdown-toggle" data-toggle="collapse" href="#carta-mb">Carta</a>
        <div class="collapse" id="carta-mb">
          <ul class="nav--mobile__itemdrop">
            <li class="py-1"><a href="#">Antipasti</a></li>
            <li class="py-1"><a href="#">Inslate</a></li>
            <li class="py-1"><a href="#">Burritos</a></li>
            <li class="py-1"><a href="#">Navajas</a></li>
            <li class="py-1"><a href="#">Platos</a></li>
          </ul>
        </div>
      </li>

      <li class="nav--mobile__item u-b-b"><a href="#">Pedidos</a></li>
      <li class="nav--mobile__item u-b-b"><a href="#">Amici</a></li>


      <li class="nav--mobile__item u-b-b">
        <a class="dropdown-toggle" data-toggle="collapse" href="#desde-italia-mb">Desde Italia</a>
        <div class="collapse" id="desde-italia-mb">
          <ul class="nav--mobile__itemdrop">
            <li class="py-1"><a href="#">Blog</a></li>
            <li class="py-1"><a href="#">Vídeos</a></li>
          </ul>
        </div>
      </li>

    </ul>

    <div class="nav--mobile--languages pt-4">
      <p class="">Seleccionar idioma</p>
      <ul class="nav--mobile--languages__itemlist">
        <li class="nav--mobile--languages__item px-2"><a href="#">ES</a></li>
        <li class="nav--mobile--languages__item px-2"><a href="#">EN</a></li>
        <li class="nav--mobile--languages__item px-2"><a href="#">FR</a></li>
      </ul>
    </div>
  </nav>

</div>
<!-- Fin de Menú lateral mobile -->
