// Fondos por color

.u-bg-white {
  background-color: #fff;
}

.u-bg-red {
  background-color: $red;
}

.u-bg-redlight {
  background-color: $redlight;
}

.u-bg-ocher {
  background-color: $ocher;
}

.u-bg-ochervibrant {
  background-color: $ochervibrant;
}

.u-bg-grayverylight {
  background-color: $grayverylight;
}

.u-bg-grayblue {
  background-color: $grayblue;
}

.u-bg-twitter {
  background-color: #00A9DB;
}

.u-bg-instagram {
  background-color: #F6A623;
}

.u-bg-facebook {
  background-color: #2163A0;
}
