.u-color-gray-light {
  color: $gray-light;
}

.u-color-white {
  color: $white;
}

.u-color-red {
  color: $red;
}

.u-color-redlight {
  color: $redlight;
}

.u-color-ocher {
  color: $ocher;
}

.u-color-graydark {
  color: $graydark;
}

.u-color-twitter {
  color: #00A9DB;
}

.u-color-instagram {
  color: #F6A623;
}

.u-color-facebook {
  color: #2163A0;
}
