.u-font-serif {
  font-family: $font-family-serif !important;
}

.u-text-bold {
  font-weight: bold !important;
}

.u-text-uppercase {
  text-transform: uppercase !important;
}

.u-text-center {
  text-align: center !important;
}

.u-justify {
  text-align: justify;
}
